

<div class="jumbotron">
<ul id='example-messages' class='example-chat-messages'>
  <li ng-repeat='msg in messages'>
    <strong class='example-chat-username'>{{msg.from}}</strong>
    {{msg.body}}
  </li>
</ul>
  <h1>Welcome to Marbles</h1>
  <p class="lead">
    The daily puzzler.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Let's get started.<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Created</h4>
  <p>
    Coming soon...
  </p>
</div>
